<script lang="ts">
  import "../app.css";
  import Header from "./components/Header.svelte";
  import SidebarMenu from "./components/Sidebar-Menu.svelte";
</script>

<Header />
<SidebarMenu />
<main>
  <slot />
</main>
