<script lang="ts">
  import { onMount } from "svelte";
  import { menu } from "./stores";
  import ProductCard from "./components/Product-Card.svelte";

  let cards: HTMLElement;
  let swipe = 0;

  onMount(() => {
    menu.set(false)
  })

  const scrollToRight = () => {
    const scrollPrecentage = cards.offsetWidth * .76;
    cards.scrollBy({
      left: scrollPrecentage,
      behavior: "smooth"
    })
  }

  const scrollToLeft = () => {
    const scrollPrecentage = cards.offsetWidth * .76;
    cards.scrollBy({
      left: -scrollPrecentage,
      behavior: "smooth"
    })
  }
</script>

<section class="main-section pt-20 md:pt-36 md:pb-20 h-screen bg-black bg-cover bg-center
text-white">
  <div class="container max-w-[65rem] mx-auto h-full pt-28 pb-4 grid gap-10 md:grid-cols-2
  px-4">
    <div>
      <h1 class="font-bold text-4xl md:text-6xl whitespace-nowrap">
        <span>
          For<span class="text-green">Nature</span>
        </span>
        <br />
        <span class="ml-14">
          For comfort
        </span>
      </h1>
      <!-- end heading -->

    <div class="pt-4 md:pt-8">
      <p class="md:text-xl">See our thoughtfully created collection of furniture, lighting, and
      objects.</p>

      <button class="font-bold mt-4 text-lg md:text-3xl border-b-2
      border-b-green hover:border-b-pink hover:text-pink">View Colleciton</button>
    </div>
      
    </div>
    <!-- end left -->

    <div class="right text-right md:text-lg self-end">
      Functional, practical interior solutions that make life simple and
      beautiful.
    </div>
    <!-- end right -->
  </div>

  <!-- end container -->
</section>
<!-- end main-section -->

<!-- product-show -->
<section class="bg-cream" aria-label="Our products">
  <div class="container max-w-[65rem] mx-auto px-2 py-10">

    <div>
      <div>
        <h2 class="font-semibold text-4xl">Discover Our Featured Products</h2>
        <p>ForNature combines comfort and refined design with the most
        innovative technologies.</p>
      </div>
      <!-- end left-part -->

      <div class="mt-4 relative ">
        <button on:click={scrollToRight} class="absolute right-0 top-1/3 bg-black rounded-full w-14 h-14 p-2 opacity-90">
          <svg class="fill-white w-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
            <path d="M530-481 332-679l43-43 241 241-241 241-43-43 198-198Z"/>
          </svg>
        </button>
        <!-- end right-button -->

        <button on:click={scrollToLeft} class="absolute left-0 top-1/3 bg-black rounded-full w-14 h-14 p-2 opacity-90">
          <svg class="fill-white w-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
            <path d="M561-240 320-481l241-241 43 43-198 198 198 198-43 43Z"/>
          </svg>
        </button>
        <!-- end left-button -->

        <div bind:this={cards} class="grid grid-flow-col auto-cols-[75%] gap-10 px-6 overflow-x-auto overscroll-contain">
          <ProductCard name="My cute Product" price={8} img="/armchair.jpg" />
          <ProductCard name="My cute Product" price={8} img="/drawer.jpg" />
          <ProductCard name="My cute Product" price={8} img="https://images.unsplash.com/photo-1661956602153-23384936a1d3" />
          <ProductCard name="My cute Product" price={8} img="/coffeetable.jpg" />
          <ProductCard name="My cute Product" price={8} img="/lamp.jpg" />
          <ProductCard name="My cute Product" price={8} img="/armchair.jpg" />
          <ProductCard name="My cute Product" price={8} img="/armchair.jpg" />
          <ProductCard name="My cute Product" price={8} img="/armchair.jpg" />
          <ProductCard name="My cute Product" price={8} img="/armchair.jpg" />
          <ProductCard name="My cute Product" price={8} img="/armchair.jpg" />
        </div>
        <!-- end cards -->
      </div>
      <!-- end right-part -->
    </div>
    <!-- end featured -->

    <div>

    </div>
    <!-- end interesting -->
  </div>
  <!-- end container -->
</section>
<!-- end product-show -->

<style>
  .main-section {
    background-image: url(/main-sec.jpg);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
  }
</style>
