<script lang="ts">
  import { onMount } from "svelte";
  import { menu } from "../stores";

  let cartItems: number = 0;
  let isMobile = false;
  let scrollY = 0;

  onMount(() => {
    if(window.screen.width < 500) {
      isMobile = true;
    }
  })

  const scroll = () => {
    scrollY = window.scrollY;
  }

  const toggleMenu = () => {
    menu.update((v: boolean) => {
      return !v;
    })
  }

</script>

<svelte:document on:scroll={scroll} />

<header
  class:bg-cream={scrollY > 120}
  class:bg-transparent={!(scrollY > 120)}
  class:text-black={scrollY > 120}
  class:text-white={!(scrollY > 120)}
  class="fixed w-full top-0 left-0">
  <div class="container max-w-[65rem] mx-auto flex justify-between px-2">

    <div class="flex sm:gap-8 sm:flex-initial flex-1 items-center">
      <button on:click={toggleMenu} class="my-5 flex-1">
        <svg xmlns="http://www.w3.org/2000/svg" height="35"
        class:fill-black={scrollY > 120} class:fill-white={!(scrollY > 120)} viewBox="0 -960 960 960">
          <path d="M120-240v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z"/>
        </svg>
      </button>

      <div class="logo select-none font-bold text-2xl">
        For<span class:text-green={!(scrollY > 120)} class:text-red={scrollY > 120}>Nature</span>
      </div>
    </div>
    <!-- end left -->

    <div class="flex gap-4 flex-1 justify-end items-center">
      <button class="sm:p-2 sm:border-b-2 sm:border-b-transparent sm:hover:border-b-red">
        {#if isMobile}
          <svg xmlns="http://www.w3.org/2000/svg" height="25" class="fill-white" viewBox="0 -960 960 960">
            <path d="M796-121 533-384q-30 26-69.959 40.5T378-329q-108.162 0-183.081-75Q120-479 120-585t75-181q75-75 181.5-75t181 75Q632-691 632-584.85 632-542 618-502q-14 40-42 75l264 262-44 44ZM377-389q81.25 0 138.125-57.5T572-585q0-81-56.875-138.5T377-781q-82.083 0-139.542 57.5Q180-666 180-585t57.458 138.5Q294.917-389 377-389Z"/>
          </svg>
        {:else}
          Search
        {/if}
      </button>

      <a class="sm:p-2 sm:border-b-2 sm:border-b-transparent sm:hover:border-b-red" href="/account">
        {#if isMobile}
          <svg xmlns="http://www.w3.org/2000/svg" height="25" class="fill-white" viewBox="0 -960 960 960">
            <path d="M480-481q-66 0-108-42t-42-108q0-66 42-108t108-42q66 0 108 42t42 108q0 66-42 108t-108 42ZM160-160v-94q0-38 19-65t49-41q67-30 128.5-45T480-420q62 0 123 15.5t127.921 44.694q31.301 14.126 50.19 40.966Q800-292 800-254v94H160Zm60-60h520v-34q0-16-9.5-30.5T707-306q-64-31-117-42.5T480-360q-57 0-111 11.5T252-306q-14 7-23 21.5t-9 30.5v34Zm260-321q39 0 64.5-25.5T570-631q0-39-25.5-64.5T480-721q-39 0-64.5 25.5T390-631q0 39 25.5 64.5T480-541Zm0-90Zm0 411Z"/>
          </svg>
        {:else}
          Account
        {/if}
      </a>

      <button class="sm:p-2 border-b-2 border-b-transparent sm:hover:border-b-red">
        {#if isMobile}
          <svg xmlns="http://www.w3.org/2000/svg" height="25" class="fill-white" viewBox="0 -960 960 960">
            <path d="M286.788-81Q257-81 236-102.212q-21-21.213-21-51Q215-183 236.212-204q21.213-21 51-21Q317-225 338-203.788q21 21.213 21 51Q359-123 337.788-102q-21.213 21-51 21Zm400 0Q657-81 636-102.212q-21-21.213-21-51Q615-183 636.212-204q21.213-21 51-21Q717-225 738-203.788q21 21.213 21 51Q759-123 737.788-102q-21.213 21-51 21ZM235-741l110 228h288l125-228H235Zm-30-60h589.074q22.964 0 34.945 21Q841-759 829-738L694-495q-11 19-28.559 30.5Q647.881-453 627-453H324l-56 104h491v60H277q-42 0-60.5-28t.5-63l64-118-152-322H51v-60h117l37 79Zm140 288h288-288Z"/>
          </svg>
        {:else}
        Cart <span class:border-black={scrollY > 120} class:border-white={!(scrollY > 120)} class="inline-block border rounded-full w-6">{cartItems}</span>
        {/if}
      </button>
    </div>
    <!-- end right -->

  </div>
  <!-- end container -->
</header>

<style>
  header {
    transition: background-color 200ms ease-in-out,
      color 200ms ease-in-out;
  }
</style>
