<script lang="ts">
  export let name: string;
  export let price: number;
  export let img: string;
</script>

<article class="h-[30rem]">
  <img class="object-cover h-4/5 w-full" src={img} alt={`An image of ${name}`}>

  <h3 class="text-xl mt-4">{name}</h3>
  <p class="font-bold text-xl">${price}</p>
</article>
