<script lang="ts">
  import { menu } from "../stores";

  let isMenuOpen = false;

  menu.subscribe((v: boolean) => {
    isMenuOpen = v;
  })

  const closeMenu = () => {
    menu.set(false)
  }
</script>

<div
  class:left-0={isMenuOpen}
  class:-left-full={!isMenuOpen}
  class="fixed w-full h-full md:w-1/3 xl:w-1/4 bg-black text-white text-lg flex flex-col items-center transition-all">

  <button on:click={closeMenu} class="my-5 mx-2 self-start">
    <svg class="fill-white" xmlns="http://www.w3.org/2000/svg" height="35" viewBox="0 -960 960 960">
      <path d="m249-207-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"/>
    </svg>
  </button>

  <nav class="flex flex-col items-center w-full">
    <a class="py-2 w-full text-center md:border-transparent border-y-2 border-y-cream" href="/">Home</a>
    <a class="py-2 w-full text-center md:border-transparent border-b-2 border-b-cream" href="#">Products</a>
    <a class="py-2 w-full text-center md:border-transparent border-b-2
    border-b-cream" href="/about">About Us</a>
    <a class="py-2 w-full text-center md:border-transparent border-b-2 border-b-cream" href="#">Contact</a>
  </nav>
</div>
